.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}
.inner_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.empty_header{
    height: 5rem;
}
.track_title{
font-size: 1.5rem;
font-weight: bolder;
}
.artist{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color:var(--text_secondary_color)
}
.cover_photo{
height: 25rem;
width: 25rem;
}
.cover_photo>img{
    width: 100%;
    height: 100%;
}
.audio_controller{
width: 100%;
height: 5rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.audio_controller>audio{
    width: 100%;
    height: 100%;
    display: none;
}
.audio_controller_menu{
width: 3rem;
height: max-content;
}
.audio_controller_menu>img{
    width: 2rem;
    height: 2rem;
}
.audio_controller_actions{
    width: 7rem;
    height: max-content;
    display: flex;
    gap: 1rem;
}
.audio_controller_actions>img{
    width: 2rem;
    height: 2rem;
}
.audio_controller_volume{
    width: 3rem;
    height: max-content;
}
.audio_controller_volume>img{
    width: 2rem;
    height: 2rem;
}
