
.App {
  height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  /* text-align: center; */
}

.maincontainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background:transparent;
  color:var(--text_primary_color);
  padding: 2rem;

}
.dynamicBackDrop{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  filter: blur(20px) brightness(0.3);
}

